/*************** RESUME **********************/
#resume{
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}

/*** RESUME-CONTENT ***/
.resume-content{
    margin: 0 auto;
    width: 85%;
    gap: 40px;
}
.resume-content p{
    width: 200px;
    line-height: 2;
    font-size: 0.9rem;
    margin: 20px 30px;
}

/*** CONTENT-ITEMS ***/
.content-items{
    gap: 50px;
}
.resume-content > .content-items > .content-item:first-child h3{
    border-bottom: 1px solid var(--main-color-theme);
    width: 65px;
}
.content-item + .content-item h3{
    border-bottom: 1px solid var(--main-color-theme);
    width: 73px;
}

.item-infos{
    border-left: 1px solid var(--main-color-argile);
    margin-left: 10px;
}
.item-date-1, .item-date-2{
    color: var(--main-color-white);
    background-color: var(--main-color-light-green);
    padding: 5px 5px 5px 40px;
    position: relative;
}
/*** CARET ***/
.infos-course .item-date-1::after{
    background-color: var(--main-color-light-green);
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: 5px solid var(--main-color-dark-green);
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
}
.infos-course .item-date-2:after{
    background-color: var(--main-color-light-green);
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: 5px solid var(--main-color-dark-green);
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
}
.item-date-1{
    width: 33px;
}
.item-date-2{
    width: 110px;
}
.item-specialisation{
    margin: 20px 30px;
}
.item-specialisation .specialisation-title{
    font-size: 1.1rem;
    font-weight: bold;
}
.item-specialisation .study-agency{
    font-size: 0.9rem;
    color: var(--main-color-gray);
}

/*** CONTENT-SKILLS ***/
.content-skill h3{
    border-bottom: 1px solid var(--main-color-theme);
    width: 86px;
}
.content-skills > .content-skill:first-child .skills-items > .skill-item:first-child{
    padding-top: 0;
}
.skill-item{
    padding: 10px;
}
.skill-item-title{
    font-size: 0.9rem;
    font-weight: bold;
}
.skill-item-bar{
    width: 185px;
    height: 9px;
    border: 1px solid var(--main-color-theme);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/*** ANIMATION PROGRESS-BAR ***/



.percentage-bar{
    height: 5px;
    background-color: var(--main-color-theme);
    border-radius: 20px;
    margin-left: 2px;
    width: 0;
} 
.percentage-bar.load_0{
    animation: load_0 3s normal forwards;
} 
.percentage-bar.load_1{
    animation: load_1 3s normal forwards;
} 
.percentage-bar.load_2{
    animation: load_2 3s normal forwards;
} 
.percentage-bar.load_3{
    animation: load_3 3s normal forwards;
} 
.percentage-bar.load_4{
    animation: load_4 3s normal forwards;
} 
.percentage-bar.load_5{
    animation: load_5 3s normal forwards;
} 
.percentage-bar.load_6{
    animation: load_6 3s normal forwards;
} 
.percentage-bar.load_7{
    animation: load_7 3s normal forwards;
} 

@keyframes load_0 {
    0% { width: 0; }
    100% { width: 50%; }
}
@keyframes load_1 {
    0% { width: 0; }
    100% { width: 50%; }
}
@keyframes load_2 {
    0% { width: 0; }
    100% { width: 50%; }
}
@keyframes load_3 {
    0% { width: 0; }
    100% { width: 90%; }
}
@keyframes load_4 {
    0% { width: 0; }
    100% { width: 89%; }
}
@keyframes load_5 {
    0% { width: 0; }
    100% { width: 30%; }
}
@keyframes load_6 {
    0% { width: 0; }
    100% { width: 10%; }
}
@keyframes load_7 {
    0% { width: 0; }
    100% { width: 20%; }
} 


/*** DONWLOAD-BUTTON ***/
.donwload-button button{
    margin: 40px 85px;
    border: 1px solid var(--main-color-theme);
    padding: 10px 15px;
    font-size: 0.8rem;
    background-color: white;
}


/********* VUE TABLETTE & MOBILE ***************/

@media screen and (max-width: 1242px) {
    .resume-content {
        margin: 0 25px;
        gap: 40px;
    }  
}
@media screen and (max-width: 1186px) {
    .resume-content {
        gap: 40px;
        flex-direction: column;
    }  
    .content-items{
        justify-content: space-around;
    }
    .skill-item-bar {
        width: auto;
        border: 2px solid var(--main-color-theme);
    }
}
@media screen and (max-width: 900px) {
    
    .donwload-button button {
        margin: 40px 40px 80px 40px;
    }
}
@media screen and (max-width: 684px) {
    .resume-content p {
        width: auto;
    }
    .content-items{
        flex-direction: column;
    }
}