/********    STRUCTURE GENERALE ***************/

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.container-home{
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside-left content";
    overflow: hidden;
}
#header-top{
   grid-area: header-top;
   background-color: var(--main-color-white);
   display: none;
}
#aside-left{
    grid-area: aside-left;
    background-color: var(--main-color-argile);
}
.content{
   grid-area: content;
}

/***************** ASIDE-LEFT ***************/
#aside-left{
    position: fixed;
    left: 0;
    top: 0;
    width: 26%; /*25%*/
    height: 100vh;
}
  .aside-left-content{
    background-color: var(--main-color-white);
      height: 100vh;
      width: 95%;  /*95%*/
   }

.user-picture{
   padding: 20px 0 10px 0;
}
.user-picture img{
   width: 150px;
   height: 150px;
   border-radius: 100px;
   border: 2px solid var(--main-color-pinchard);
}
.username{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.job{
    color: var(--main-color-gray);
    padding-bottom: 30px;
}
ul.menu-lists{
    padding: 0 0 10px 0;
}
ul.menu-lists li{
    padding: 13px 0;
    font-size: 1rem;
    font-weight: bold;
} 
ul.menu-lists li:nth-child(1){
    border: 1px solid var(--main-color-pinchard);
    border-right: 3px solid transparent;
}   
ul.menu-lists li:nth-child(2),
ul.menu-lists li:nth-child(3),
ul.menu-lists li:nth-child(4),
ul.menu-lists li:nth-child(5){
    border-bottom: 1px solid var(--main-color-pinchard);
    border-right: 3px solid transparent;
}    
ul.menu-lists li:hover{
    background-color: #efefef;
    border-right: 3px solid var(--main-color-theme) !important;
    cursor: pointer;
} 
.social-icons{
  padding-top: 40px;
}   
.social-icons i{
    color: var(--main-color-gray);
    font-size: 1.2rem;
    background-color: var(--main-color-argile);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.6;
 }


 /***************** CONTENT ***************/
 .content-icon-settings i{
     font-size: 1.2rem;
     right: 0;
     top: 90px;
     background-color: var(--main-color-white);
     color: var(--main-color-theme);
     padding: 5px 13px;
     border-radius: 5px 0 0 5px;
     border: 1px solid var(--main-color-pinchard);
     z-index: 99;
    }
/***************** CONTENT-XL ***************/
  .content-xl{
         padding: 0 0 0 10px;
         background-color: var(--main-color-argile);
  }
  

/************** SECTIONS  ****************/
.content section{
    height: 100vh;
    width: 100%; 
    overflow-y: auto;
}


 /*** SECTION-TITLE ***/

 /****** CARET *******/

.section-title h2{
    color: var(--main-color-white);
    padding: 6px 14px 6px 65px;
    background-color: var(--main-color-theme);
    position: relative;
}
.section-title h2::after{
    background-color: var(--main-color-theme);
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: 5px solid var(--main-color-theme-dark);
    border-bottom: 5px solid var(--main-color-argile);
    border-left: 5px solid var(--main-color-argile);
}
.bar_2{
    left: 0;
    top: 0;
    width: 10px;
    height: 100vh;
    background-color: var(--main-color-argile);
}
#about-me > .bar_2{
    height: 180vh;
}
#resume > .bar_2{
    height: 180vh;
}
#portfolio > .bar_2{
    height: 270vh;
}


.section-title p{
    color: var(--main-color-gray);
}

/********* VUE TABLETTE & MOBILE ***************/

@media screen and (max-width: 900px) {
    .container-home{
        grid-template-columns: 1fr;
        grid-template-rows: 50px 3fr;
        grid-template-areas: "header-top" "content";
    }
    #header-top{
        display: flex;
        border-bottom: 1px solid var(--main-color-pinchard);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 888;
    }
    #aside-left{
        z-index: 0;
        width: 75%;
        top: 50px;
        left: 0;
    }
    .aside-left-content {
        width: 100%; /*98%*/
        box-shadow: 2px 4px 8px rgb(0 0 0/10%), 0px 12px 18px rgb(0 0 0/10%);
    }
    .header-username{
        font-size: 1.2rem;
        color: var(--main-color-gray);
        padding-left: 10px;
    }
    .header-icon-burger i{
        font-size: 1.5rem;
        color: var(--main-color-black);
        padding-right: 10px;
    }
    .content section{
        width: 100vw;
        padding-top: 50px;
    }
    /****** CARET *******/
    .content > section > .bar_2{
        display: none;
    }
    .section-title h2::after{
        content: "";
        border: none;
    }
    
    
}



